<div class="col-sm-12 col-md-12 well" id="content">
    <div class="row" style="width: 60%; margin: auto;">
        <div class="col-md-12">
            <h2 style="margin-bottom: 1em;">Create a new event.</h2>
            <%= render 'form' %>
        </div>
    </div>
</div>