<div class="d-flex justify-content-center" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-12">
            <% if !@invitation %>
                <h1>No invitation found!</h1><br />
                <%= link_to "Go Back", website_path(@website), class: 'btn btn-lg btn-primary' %>
            <% else %>
            <h1>Invitation For</h1><br />
            <%= link_to "#{@invitiation.first_name} #{@invitation.last_name}", invitation_path(@invitation), class: 'btn btn-lg btn-primary' %>
            <% end %>
        </div>
    </div>
</div>