<div class="col-sm-12 col-md-12 well" id="content">
    <center>
        <%= form_for(current_website, url: images_path, method: :post) do |f| %>
            <%= f.label :uploads %>
            <%= f.file_field :uploads, multiple: true%>
            <%= f.submit "Upload Photo", class: "btn btn-primary" %>
        <% end %>
    </center>
</div>